body {
  background-color: powderblue;
}
h1 {
  color: blue;
}

h3 {
    color:rgb(223, 18, 18);
}

h6{
    font-size: 300%;
    font-family: Times New Roman;
    color: rgb(11, 5, 0)
}

p {
  color: rgb(206, 95, 5);
}
.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(85, 54, 223)
}