/* style.css */
* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  padding: 20px;
}

.tab {
  float: left;
  width: 30%;
  height: 300px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  display: block;
  width: 100%;
  padding: 22px 16px;
  border: none;
  background: inherit;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  width: 70%;
  height: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-left: none;
  display: none;
}

/* Data URL Ranked Color */
.black { color: black; }
.red { color: red; }
.orange { color: orangered; }
.yellow { color: goldenrod; }
.green { color: green; }
